*{
    padding:0;
    margin:0;
    box-sizing:border-box;
   
}
/* landingpage */

.landingpageimg img {
    width:100%;
    height:100vh;

}

.landingpagecontent{
  color:white;
  position:absolute;
  top: 37%;



}
.landingpagecontent h1{
  font-size:60px;
  font-weight:700;



}
.landingpagecontent h3{
  font-size:1.75rem;
  font-weight:500;
  padding-top:10px;

}
.landingpagecontent p{
  padding-top:12px;

}
/* landingpagebutton */
.landingpagebutton{
  padding-top:30px
}
.landingpagebutton .moreabout {
  text-decoration:none;
  color:white;
  padding:15px 20px;
  border:1px solid #fff;
  border-radius: none;
  outline:none;
}
.moreabout:hover{
  background-color: #d72590 ;
}
.landingpagebutton .ourservices{

  text-decoration:none;
  color:white;
  padding:15px 20px;
  border:1px solid #fff;
  border-radius: none;
  outline:none;
  margin-left: 50px;
}
.ourservices:hover{
  background-color: #d72590 ;

}
/* thinkingandutilising */
.thinkingandutilising{
  display:flex;
  flex-direction:column;
  position:absolute;
  width:300px;
  height:330px;
  background-image:linear-gradient(to bottom,#ae00e0,#d72590);
  font-size:1.5rem;
  color:white;
  font-weight:500;
  text-align:center;
  align-items:center;
  justify-content:center;
  padding:20px;
  top: 36.5%;
  margin-left: 80px;

}
.thinkingandutilising img{
  width:80px;
  height:80px;
  
}
@media (min-width:320px) and (max-width:425px){

  /* landingpage */
.landingpageimg img {
  width:100%;
  height:100vh;

}

.landingpagecontent{
color:white;
position:absolute;
top: 34% ;
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;


}
.landingpagecontent h1{
font-size:11vw;
font-weight:700;



}
.landingpagecontent h3{
font-size:calc(1.3rem + .6vw);
font-weight:500;
padding-top:0px !important;

}
.landingpagecontent p{
font-size:13px;
padding-left:10px;
padding-right: 10px;
padding-top:0px !important;
}

/* landingpagebutton */
.landingpagebutton{
padding-top:0px !important ;
display:flex;
flex-direction: column;
}
.landingpagebutton .moreabout {
text-decoration:none;
color:white;
padding:15px 53px;
border:1px solid #fff;
border-radius: none;
outline:none;
}
.moreabout:hover{
background-color: #d72590 ;
}
.landingpagebutton .ourservices{

text-decoration:none;
color:white;
padding:15px 53px  !important;
border:1px solid #fff;
border-radius: none;
outline:none;
margin-top: 10px;
margin-left: 0px !important ;

}

.ourservices:hover{
background-color: #d72590 ;

}
/* thinkingandutilising */
.thinkingandutilising{

display: none;

}
.thinkingandutilising img{
width:80px;
height:80px;

}
}
@media (min-width:481px) and (max-width:768px){
  .landingpageimg img {
    width:83%;
    height:75vh;
    filter:brightness(50%);
  
  }
  
  .landingpagecontent{
  color:white;
  position:absolute;
  top: 30% ;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  justify-content:center;
  
  
  }
  .landingpagecontent h1{
  font-size:35px;
  font-weight:900;
  letter-spacing:1px;
  
  
  
  }
  .landingpagecontent h3{
  font-size:calc(1.1rem + .4vw);
  font-weight:500;
  padding-top:0px !important;
  
  }
  .landingpagecontent p{
  font-size:13px;
  padding-left:10px;
  padding-right: 10px;
  padding-top:0px !important;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  }
  
  /* landingpagebutton */
  .landingpagebutton{
  padding-top:0px !important ;
  display:flex;

  }
  .landingpagebutton .moreabout {

 
  text-decoration:none;
  color:white;
  padding:12px 15px  !important;
  border:1px solid #fff;
  border-radius: none;
  outline:none;
  margin-top: 10px;
  margin-left: 20px !important ;
  font-size:13px;
  font-weight:900px !important; 
  }
  .moreabout:hover{
  background-color: #d72590 ;
  }
  .landingpagebutton .ourservices{
  
  text-decoration:none;
  color:white;
  padding:12px 15px  !important;
  border:1px solid #fff;
  border-radius: none;
  outline:none;
  margin-top: 10px;
  margin-left: 20px !important ;
  font-size:13px;
  font-weight:900px !important; 
  
  }
  
  .ourservices:hover{
  background-color: #d72590 ;
  
  }
  /* thinkingandutilising */
  .thinkingandutilising{
  
  display: none;
  
  }
  .thinkingandutilising img{
  width:80px;
  height:80px;
  
  }
}
