*{
    padding:0;
    margin:0;
    box-sizing:border-box;

 
}
.entirenavbar{
    display:flex;
    background-color:#000;
    /* opacity:0.9; */
    width:100%;
    height:80px;
    position:fixed;
    z-index:11111;   
}
.wholenavbar ul{
    display: flex;

    font-weight:400;
    margin-left: -112px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.wholenavbar li{
    padding-left:30px;

}
.wholenavbar a{
    color:white !important;
    font-size:12px;
 
    opacity:.9;
    font-size:16px;
}
.wholenavbar{
    margin-left: 600px;
}
.logoimg img{
    width:150px;
    height:45.48px;
    margin-top: 0px;
    margin-left:85px;

    
 

}



.navbarunorderedlist{
    width:auto;
    padding:0px !important;
  margin-left: 40px;
}
.letsconnect a {

    text-decoration:none !important;
    padding:10px 20px !important;
    margin-top: 15px;
    background-color: #d72590 ;
    color:white;
    font-weight:500;
    border:1px solid white;
    display:flex;
    margin-left: 50px;
    opacity:.9;
}



.entirenavbar .connect-button:hover{
    /* background: linear-gradient(to right, #ae00e0 50%); */
    background-color: #ae00e0  ;
}

@media (min-width:320px) and (max-width:425px)
{
    *{
        padding:0;
        margin:0;
        box-sizing:border-box;
    
     
    }
    .entirenavbar{
        display:flex;
        background-color:#000;
        /* opacity:0.9; */
        width:100%;
        height:80px;
        position:sticky;
        z-index:11111;   
    }
    .wholenavbar ul{
        display: flex;
    
        font-weight:400;
        margin-left: -112px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .wholenavbar li{
        padding-left:30px;
    
    }
    .wholenavbar a{
        color:white !important;
        font-size:12px;
     
        opacity:.9;
        font-size:16px;
    }
    .wholenavbar{
        margin-left: 600px;
    }
    .logoimg img{
        width:150px;
        height:45.48px;
        margin-top: 0px;
        margin-left:85px;
    
        
     
    
    }
    
    
    
    .navbarunorderedlist{
        width:auto;
        padding:0px !important;
      margin-left: 40px;
    }
    .letsconnect a {
    
        text-decoration:none !important;
        padding:10px 20px !important;
        margin-top: 15px;
        background-color: #d72590 ;
        color:white;
        font-weight:500;
        border:1px solid white;
        display:flex;
        margin-left: 50px;
        opacity:.9;
    }
    
    
    
    .entirenavbar .connect-button:hover{

        background-color: #ae00e0  ;
    }
}
@media (min-width:481px) and (max-width:768px){
    .entirenavbar{
        display:flex;
        background-color:#000;
        /* opacity:0.9; */
        width:83%;
        height:65px;
        position:sticky;
        z-index:11111;   
    }
}